<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bmsce.appointext"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />  
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_appointext"
        android:label="@string/app_name"
        android:theme="@style/Theme.Actionbar" >

        <activity
            android:name="com.appointext.frontend.AppoinTextActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.appointext.frontend.SettingsDisplay"
            android:label="Settings" >            
        </activity>
        <activity
            android:name="com.appointext.frontend.BlockedNumberDisplay"
            android:label="Numbers Excluded" >            
        </activity>
        <activity
            android:name="com.appointext.frontend.RemindersToday"
            android:label="Reminders for Today" >            
        </activity>
        <activity
            android:name="com.appointext.frontend.HelpAbout"
            android:label="About AppoinText" >                
        </activity>
        <activity
            android:name="com.appointext.frontend.HelpSettings"
            android:label="Help With Settings" >
        </activity>
        <activity
            android:name="com.appointext.frontend.RemindersHour"
            android:label="Reminders over 1 Hour" >            
        </activity>
        <activity
            android:name="com.appointext.frontend.RemindersPeriodDisplay"
            android:label="Reminders for TimeLine" >            
        </activity>
        <activity
            android:name="com.appointext.frontend.ManualBlockedNumber"
            android:label="Add Number" >            
        </activity>
        <activity
            android:name="com.appointext.frontend.ReminderPeriodPicker"
            android:label="Reminder Period">            
        </activity>
        <activity
            android:name="com.appointext.frontend.RaterDisplay"
            android:label="Rate AppoinText" >            
        </activity>
        <activity
            android:name="com.appointext.frontend.NoNagMode"
            android:label="Quiet Hours" >            
        </activity>
        <activity
            android:name="com.appointext.frontend.NoNagScheduler"
            android:label="Quiet Hours Scheduler" >            
        </activity>
        <activity
            android:name="com.appointext.frontend.RemindersDisplay"
            android:label="Existing Reminders" >            
        </activity>
        <activity
            android:name="com.appointext.frontend.TNCDisplay"
            android:label="Terms and Conditions" >            
        </activity>
        <activity
            android:name="com.appointext.frontend.TimeSelector"
            android:label="Day Scheduler" >            
        </activity>
        
        <activity
            android:name="com.appointext.frontend.ConflictDetected"
            android:exported="true"
            android:label="Conflict" >            
        </activity>

		<activity
            android:name="com.appointext.frontend.HelpDisplay"
            android:label="Help With AppoinText">            
        </activity>
        
        <service
  			android:name="com.appointext.backend.AppoinTextService"
  			android:process=":appoinTextService" 
  			android:label="@string/service_name"
  		>
		</service> 
       
       <receiver android:name="com.appointext.backend.SMSListenerInbox">   
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
       </receiver>

       <receiver android:name="com.appointext.backend.StartSMSObserver">  
    		<intent-filter>  
        		<action android:name="android.intent.action.BOOT_COMPLETED" />  
    		</intent-filter>  
		</receiver>

        <service
  			android:name="com.appointext.backend.MyUpdateService"
  			android:process=":myUpdateService" 
  			android:label="MyUpdateService"
  		>
		</service>     
		
        <!-- widget receiver starts here -->
		<receiver 
		    android:name="com.appointext.widget.MainActivity" 
		    android:label="SPARTA">
  			<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        
  			</intent-filter>
  				<meta-data 
  				    android:name="android.appwidget.provider" 
  				    android:resource="@xml/widget1_info" />
		</receiver>
       
		<!-- widget receiver ends here -->
       </application>

</manifest>
